# Directorio de datos (no subir)
Datos Datalogger/

# Virtual Environment
.venv/

# Archivos Python estándar
__pycache__/
*.pyc
*.pyo

# Figuras varias (exportadas como .pdf, .png, ...)
figuras/
*.pdf
*.png

# Ficheros con los dataframes volcados
Excel Resultados/
*.xls
*.xlsx

# Ficheros de log
*.txt
*.log

# Ignoramos todos los .txt salvo el requirements
!requirements.txt